# About Project

- This project is a CLI tool for creating new projects. It is a opinionated project starter.
- User should select a project type and a package manager. Then it will create a new project with pre-configured settings.

- This project uses typescript for development.
- This project itself uses pnpm for package management.
- This project uses tsup for building.
- This project uses ora for cli loading indicators.
- This project uses chalk for cli colors.
- This project uses @inquirer/prompts for prompts.
- This project's npm name is "@kunver/new"
- This project's bin name is "kunver"
- This project's uses vitest for testing.
- This project uses prettier for code formatting.

- Code style should follow prettier rules (.prettierrc.json file).

## React starter plan

- create react project with vite ( using preferred package manager)
- install dependencies
- copy config files
- install tailwind with command
- add tailwind plugin into vite.config.ts
- add tailwindcss import into index.css
- approve builds
- post install react
- delete unnecessary files
- clear files
- edit readme

## Wxt starter plan

- create wxt project with wxt ( using preferred package manager and selected framework)
- install dependencies
- copy config files
- approve builds
- post install wxt
- delete unnecessary files
- delete assets/\*
- clear files
- edit readme
